@import '../../styles/globals.scss';

.groupCard {
    border-style:inset ;
    border-color: gray;
    border-width: 1px;
    border-radius: .5rem;
    color: $text-darkblue;
    position:relative;
    &__counter{
        position: absolute;
        z-index: 1;
        height: 3rem;
        width: 3rem;

        &__number{
            color:white;
            background-color: $primary-color;
            height: 1.4rem;
            width: 1.4rem;
            border-radius: 50%;

            
        }
    }

    &__circle {
        height: 6rem;
        width: 6rem;
        margin: 0rem; //para quitar el margin que tiene en css de GroupCircle
    }

    &__user{
        height: 2.4rem;
        width: 2.4rem;
        &__teacher{
            color: $bg-lightblue;
        }
        &__student{
            color: $secundary-color;
        }
    }
    &__footer {
        background-color: $bg-orange;
        border-radius: 0rem 0rem .5rem .5rem;

        &__icons {
            color: #FFA424;
            font-size: x-large;
        }
    }

}