@import '../../styles/globals.scss';

.groupCard {
    border-style: ridge;
    border-radius: .5rem;
    color: $text-darkblue;

    &__circle {
        height: 6rem;
        width: 6rem;
        margin: 0rem; //para quitar el margin que tiene en css de GroupCircle
    }

    &__user{
        height: 2.2rem;
        width: 2.2rem;
        &__teacher{
            color: $darkblue;
        }
        &__student{
            color: $primary-color;
        }
    }
    &__footer {
        background-color: $bg-orange;

        &__icons {
            color: #FFA424;
            font-size: x-large;
        }
    }

}