@import '../../styles/varibles';



  .bg-primary {
    background-color: $primary-color;
  }
  
  .bg-secondary {
    background-color: $secundary-color;
  }
  
  .bg-orange {
    background-color: $tertiary-color;
  }

  .bg-danger {
    background-color: red;
  }