@import '../../styles/globals.scss';


.navigation {
    background-color: $secundary-color;
    height: 4rem;
    gap: 0rem;

    &__navmenuBG {
        background-color: #06b1ea30;
        border-radius: 50%;
        height: 2.5rem;
        width: 2.5rem;
    }
}

.nav-menu {
    background-color: rgba(0, 102, 136, 0.96);
    width: 11rem;
    height: 100vh;
    // display: flex;
    // justify-content: end;
    position: fixed;
    // top: 0;
    left: -100%;
    transition: .7s ease;

}

.nav-menu.active {
    left: 0;
    transition: 300ms;
}

.menu-bars {
    font-size: 2rem;
    color: white;
    margin-top: .2rem;
    // width: 100%;
}

.nav-text {
    //  display: flex;
    //  justify-content: start;
    //  align-items: center;
    padding: 8px 0px 8px 8px;
    list-style: none;
    height: 3rem;
    width: 100%;


}

.nav-text a {
    text-decoration: none;
    color: white;


}

.nav-text a:hover {
    background-color: $bg-lightblue;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    width: 100%;
    height: 4rem;
    // padding-right: .5rem;
    list-style: none;
    display: flex;
    justify-content: flex-start;

    // align-items:center;
}

.nav-span {
    margin-left: 1rem;
}