$dark-orange: #FFDDBA;
$secondary-color: #06B1EA;
$bg-lightblue: #CEE6F6;
$bg-darkblue: #004D68;


$text-darkorange:#875200;
$text-lightorange:#CD7F00;
$text-darkblue: #006688;
$text-lightblue:#06B1EA;