@import '../../styles/globals.scss';

.teacherInfo {
    margin: 1rem;
    border-radius: 0.5rem;
    border-style:ridge;

    &__wrapper {
        // display: flex;
        // flex-direction: column;
        padding: .5rem;
        color: $text-darkblue;
        // margin-left: .4rem;
    }
    &__userCircle{
        height:2.8rem;
        width:2.8rem;
        color: #CEE6F6;
    }
    &__icons{
        font-size: larger;
        color: #FFA424;
    }
}