@import '../../styles/globals.scss';

.card-announce {
    border-style: inset;
    border-color: black;
    border-width: 1px;
    border-radius: .5rem;

    &__img-wrapper {
        height: 11rem;
        overflow: hidden;

        &__cover-img {
            border-radius: .5rem .5rem 0rem 0rem;
            width: 100%;
            height: auto;
            max-height: 14rem;
            object-fit:cover;
            object-position: center;
        }
    }

    &__user-img {
        height: 2rem;
        width: 2rem;
        // margin-left:.8rem
    }
}