@import '../../styles/globals.scss';

.card-announce {
    border-style:inset ;
    border-color: black;
    border-width: 1px;
    border-radius: .5rem;

    &__cover-img{
        border-radius: .5rem .5rem 0rem 0rem;
        // height: 25vh;
        
    }
    &__user-img{
        height: 2rem;
        width: 2rem;
        // margin-left:.8rem
        
    }
}
