@import '../../styles/globals.scss';

.card-announce {
    border-style:inset ;
    border-color: black;
    border-width: 1px;
    border-radius: .5rem;

    &__user-img{
        height: 2rem;
        width: 2rem;
        // margin-left:.8rem
        
    }
}
