@import '../styles/globals.scss';

.sectionOneHome{
    padding: 1.5rem;
    text-align: justify;
    // height: 24.625rem;

}
// .landingTitle{

// }

.landingSubtitle{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.landingLogin{
    color: $text-darkblue;
}
.landingForm{
    margin-bottom: 2rem;
}
.landingButtons{
    gap: 10px;
}
.forgotPassword{
    margin-top: 1rem;
}

.sectionTwoHome {
    background-color: $bg-orange;
    padding: 3rem;
    // gap: 7rem;
    text-align: justify;
}
.sectionThreeHome{
    color: $text-darkblue;
    background-color: $bg-lightblue;
    // height: 12.563rem;
    padding: 3rem;
}

.landingPicture{
    height: 100%;
    width: 100%;
}
.landingTextNextToImg{
    color: $text-darkblue;
    padding: 2rem 5rem 0rem 2rem;
    text-align: justify;

}
.landingLogoNextToImg{
    height: 3.5rem;
    width:16rem ;
    margin:1rem
}

.sectionFiveHome{
    height: 3.75rem;
    background-color: $bg-darkblue;
    color: white;
}
.sectionSixHome{
    background-color: $bg-orange;
    height: 21.688rem;
    text-align: center;
    padding: 1rem;
    color: $text-darkblue;
}
.sectionSevenHome{
    flex-wrap: wrap;
    padding: 2rem 2rem 2rem 2rem;
    text-align: justify;
}
.FAQ{
    padding: 1rem 1.5rem 1rem 1.5rem;
    &__title{
        font-weight: bold;
    }
}

.btn-form{
    margin: 1rem;
    width: 7rem;
    height: 2rem;
    color:white;
    background-color: $bg-blue;
    border-radius: 10px;
    font-weight:500;
    border-style: none;
}